<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
    <title th:text="${titulo}">Insert title</title>
</head>
<body>
<header th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FacturasApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/listar}">Cliente</a>
            </li>
        </ul>
    </div>
</nav>
<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
<div class="alert alert-danger" th:if="${danger != null}" th:text="${danger}"></div>
</header>

<nav th:fragment="pagination-nav">
    <ul class="pagination">
        <li class="page-item" th:if="${paginator.hasPrevious}">
            <a class="page-link" th:href="@{/listar(page=${paginator.actualPage})}" tabindex="-1"><span class="fa fa-arrow-left text-dark" aria-hidden="true"></span></a>
        </li>
        <li class="page-item" th:if="${paginator.hasNext}">
            <a class="page-link" th:href="@{/listar(page=${paginator.actualPage + 2})}"><span class="fa fa-arrow-right text-dark" aria-hidden="true"></span></a>
        </li>
    </ul>
</nav>

<footer th:fragment="footer"
        class="font-small bg-white text-dark">
    <hr class="my-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright: Ricard Molina
    </div>
    <!-- Copyright -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!-- jQueryUI JS -->
    <script th:src="@{/js/jquery-ui.min.js}"></script>
</footer>

</body>
</html>