<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container my-5">
    <div class="card">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <!-- Errors on top -->
            <!--
            <div th:object="${cliente}" th:remove="tag">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            -->

            <form th:action="@{/form}" th:object="${cliente}" method="POST">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group row"><label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-6"><input type="text" class="form-control" th:errorclass="'form-control alert-danger'" th:field="*{nombre}">
                        <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="form-text text-danger"></small></div>
                </div>
                <div class="form-group row"><label class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-6"><input type="text" class="form-control" th:field="*{apellido}" th:errorclass="'form-control alert-danger'">
                        <small th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="form-text text-danger"></small></div>
                </div>
                <div class="form-group row"><label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-6"><input type="text" class="form-control" th:field="*{email}" th:errorclass="'form-control alert-danger'">
                        <small th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="form-text text-danger"></small>  </div>
                </div>
                <div class="form-group row"><label class="col-sm-2 col-form-label">Fecha</label>
                    <div class="col-sm-6"><input type="text" class="form-control" th:field="*{createAt}" th:errorclass="'form-control alert-danger'">
                        <small th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}" class="form-text text-danger"></small></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6" th:if="${cliente.id != null && cliente.id > 0 }"><input type="submit" class="btn btn-primary" value="Editar cliente"></div>
                    <div class="col-sm-6" th:if="${cliente.id == null || cliente.id == 0 }"><input type="submit" class="btn btn-primary" value="Crear cliente"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>