<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container my-5">
    <div class="card">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body bg-light">
                <a th:href="@{/form}" class="btn btn-outline-info my-2">Crear</a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>email</th>
                        <th>fecha</th>
                        <th>editar</th>
                        <th>eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cliente: ${clientes}">
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.apellido}"></td>
                        <td th:text="${cliente.email}"></td>
                        <td th:text="${cliente.createAt}"></td>
                        <td><a th:href="@{/form/}+${cliente.id}" class="btn btn-info btn-xs">Editar</a></td>
                        <td><a th:href="@{/delete/}+${cliente.id}" class="btn btn-danger btn-xs">Eliminar</a></td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>